# .env  — NEVER commit this file
OPENROUTER_API_KEY=your_key_here
ZERION_API_KEY=your_key_here
HELIUS_API_KEY=your_key_here
NEXT_PUBLIC_PROGRAM_ID=FWNEG9fUyFNKs5qMLgGAZohuqhnT1Uex6sDVPKEdCKjA
NEXT_PUBLIC_FAKE_USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
